.App {
  text-align: center;
  display: flex;
}

.Center {
  width: 80%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Sides {
  width: 10%;
}

/* * {
  outline: 1px solid red;
} */
