.App {
  text-align: center;
  display: flex;
}

.Center {
  width: 80%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Sides {
  width: 10%;
}

.Titles {
  background-color: #002868;
  color: white;
  border-radius: 1rem;
  padding: 1rem;
  font-weight: bold;
}

/* * {
  outline: 1px solid red;
} */
