.CLCPillarBox {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.CLCPillar {
  outline: .25rem solid #BF0A30;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}
